.category_page_topbar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px 10px 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.category_page_topbar select {
  width: 180px;
  height: 30px;
  margin: 0px 20px 0px 0px;
  text-align: center;
  background-color: #f1f3f5;
  outline: none;
  border: none;
  text-indent: 6px;
  @media(max-width:768px){
    width: 150px;
  }
}

.category_page_topbar select option {
  text-align: start;
  font-size: 0.9rem;
}

.category_page_container {
  display: flex;
  justify-content: center;
  margin: 20px 10px 20px 10px;
}

.category_page_products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1115px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pro {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 0px 10px 20px 0px;
  border-radius: 5px;
}

.pro a {
  display: block;
}

.pro a img {
  width: 100%;
  height: auto;
  max-height:250px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  
}

.pro .category_pro_content {
  padding: 0px 0px 0px 5px;
}
