
.dashboard{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 20px auto;

}

.nav-content{
    flex: 20%;  
    background-color: #FFFFFF;
    text-align: center;
    margin: 10px;
    flex-shrink: 0;
}

.nav-content ul{
    width: 100%;
}


.nav-link{
    width: 100%;
    border: none;
    background: linear-gradient(to left,#FFFFFF 0%,#eee 100%);
    color: black;
    border: 1px solid black;
}
.nav-link:hover{
    color: black;
}
.nav-link:active{
    color: black;
}

.tab-content{
    flex: 80%;
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px 10px 10px 20px;
}

.nav-content ul{
  display: inline-block;
}


@media(max-width:990px){
    .dashboard{
        width: 100%;
    }
}


@media(max-width:615px){
    .dashboard{
        display: block;
    }
}