

#footer{
    background-color: #222;
    display: grid;
    padding: 50px 70px 50px 70px;
    grid-template-columns: 1fr 1fr 2fr;
  
}

#footer .content-left a {
    display: block;
}


#footer .content-center a {
    display: block;
}

#footer a{
    color: white;
    opacity: 0.8;
    font-size: 1rem;
    text-decoration: none;
}

#footer a:hover{
    text-decoration: underline;
}
#footer h3{
    font-size: 1.5rem;
    color: white;
}


.content-right .footer-form input{
    width: 200px;
    padding: 5px;
    outline: none;
    margin: 0px;
    border: none;
}

.content-right .footer-form button{
    padding: 5px 8px;
    margin: 0px;
    border: none;
    background-color: #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media(max-width : 768px) {
    #footer{
        grid-template-columns: 1fr;
        padding: 0;
        text-align: center;
    }
   .content-left{
    padding-top: 10px;
   }
   .content-center{
   padding-top: 10px;
}


}