

#header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 40px 10px 30px;
  background-color: #ffffff;
}



/*--------------*/

.logo {
  flex: 22%;
  text-align: center;
}

.logo a{
  width: 140px;
  height: auto;
  font-size: 1.8rem;
  font-weight: 800;
  color: #222836;
  text-decoration: none;
}

.searchBar {
  flex: 55%;
  position: relative;
}

.searchBar input {
  width: 100%;
  padding: 9px 16px 10px 12px;
  background: #f5f5f5;
  border: none;
  outline: none;
  opacity: 0.5;
  color: black;
  border-color: #dee2e6;
  box-shadow: 0px 1px 1px 2px #ddd;

}

.searchBar button {
  background-color: #222836;
  color: white;
  font-weight: 800;
  padding: 9px 16px 10px 16px;
  border: none;
  right: 0px;
  position: absolute;
}

.searchIcon {
  color: #ffffff;
  font-size: 1.2rem;
}

.cart-user-div{
  flex: 23%;
  display: flex;
  justify-content:flex-end;
  align-items: center;

}

.cart-user-div div{
  display: inline-block;
  margin: 0px 15px;

}

.cart{
position: relative;
padding: 8px;
overflow: visible;
z-index: 1;
}

.cartIcon{
  font-size: 1.7rem;
  color: #212121;

}

.cart span{
  display: flex;
  background-color: #222836;
  padding: 0px 8px;
  color: white;
  position: absolute;
  border-radius: 50%;
  bottom: 0px;
  right: 0px;
  top: 20px;
  overflow: visible;
  z-index: 1;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  
}

.user{
position: relative;
padding: 8px;
overflow: visible;
z-index: 1;

}
.user-icon{
  font-size: 1.7rem;
  color: black;
}

.user-btn{
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #222836;
  font-weight: 500;
}



@media only screen and (max-width: 1115px) {
  .logo{
    display: none;
  }

  
  .cart-user-div {
    display: none;
  }
  .cart-user-div .user{
    display: none;
  }

  .responsive-menu{
    display: block;
    margin: 0px 10px 0px 0px;
  }
}

@media only screen and (max-width: 768px) {
  #header{
    padding: 10px 10px 10px 10px;
  }

  .searchBar>button{
     padding: 5px 8px;
  }
  .searchBar>input{
    padding: 5px 8px;
 }

}








