

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 40px 10px 30px;
  background-color: #ffffff;

}



/*--------------*/

.logo {
  flex: 22%;
  text-align: center;
}

.logo a{
  width: 140px;
  height: auto;
  font-size: 1.8rem;
  font-weight: 800;
  /*color: #2E2787;*/
  /*color: #8980FF;*/
  /*color: #9683EC;*/
  /*color: #545AA7;*/
  /*color: #205896;*/
  /*color: #0047ab;*/
  /*color: #603fef;*/
  /*color: #4B0082;*/
  color: #0F3460;
  text-decoration: none;
}

.searchBar {
  flex: 55%;
  position: relative;
}

.searchBar input{
  width: 100%;
  background-color: #EEF0F2;
  padding: 9px 16px 10px 20px;
  border: 1px solid #0F3460;
  transition:0.1s border ease-in-out;
  height: 48px;
  outline: none;
  opacity: 1;
  color: black;
  transition: 0.2s;
 
}



.searchBar button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F3460;
  font-weight: 900;
  width: 50px;
  height: 47px;
  border: none;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  right: 1px;
  top: 0px;
  position: absolute;
}

.searchIcon {
  color: #ffffff;
  font-size: 1.2rem;
}

.search_value{
  background-color:white;
  position: absolute;
  top: 50px;
  z-index: 10;
  width: 100%;
  height: auto;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
}

.search_value ul{
  list-style: none;
}

.cart_user_div{
  flex: 23%;
  display: flex;
  justify-content:flex-end;
  align-items: center;

}

.cart_user_div .cart{
  display: inline-block;
  margin: 0px 15px;

}

.cart{
background-color: #F3F5F9;
position: relative;
padding: 8px;
border-radius: 50%;
overflow: visible;
z-index: 1;
}

.cartIcon{
  font-size: 1.7rem;
  color: black;

}

.cart span{
  display: flex;
  background-color: #0F3460;
 /* padding: 0px 8px;*/
  color: white;
  position: absolute;
  border-radius: 50%;
  bottom: 0px;
  right: 0px;
  left: 31px;
  top: -5px;
  overflow: visible;
  z-index: 1;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  
}

.user{
  background-color: #F3F5F9;
  position: relative;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  z-index: 1;
  margin: 0px 15px 0px 15px ;
}

.user_icon{
  font-size: 1.6rem;
  color: black;
}



@media only screen and (max-width: 1115px) {
  .logo{
    display: none;
  }
  .searchBar {
    flex: 90%;
  }
  .cart_user_div{
    flex: 10%;
  }
  .cart_user_div .cart{
    display: block;
  }
  .cart_user_div .user{
    display: none;
  }

  .responsive-menu{
    display: block;
    margin: 0px 10px 0px 0px;
  }
}

@media only screen and (max-width: 768px) {
  #header{
    padding: 10px 10px 10px 10px;
  }

  .cart_user_div{
    display: none;
  }

  .searchBar>button{
     padding: 5px 8px;
  }
  .searchBar>input{
    padding: 5px 8px;
 }

}








