
.responsive-menu{
    display: none;
} 

.GiHamburgerMenu{
  color: #222836;
  font-size: 2rem;
}


.offcan-header{
  margin: 10px 0px 20px 0px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offcan-header a{
  width: 140px;
  height: auto;
  font-size: 1.8rem;
  font-weight: 800;
  color: #222836;
  text-decoration: none;
}

.offcan{
  background-color: white;
  left: -300px;
  width: 0px;
  height: 100vh;
  transition: 0.5s;
  position: fixed;
  top: 0%;
  z-index: 0;
  opacity: 0.5;
}

.show-offcan{
  left: 0px;
  width: 300px;
  position: fixed;
  transition: 0.5s;
  z-index: 10;
  opacity: 1;
  background: white;
  height: 100vh;
  top: 0;
}

.btn-close{
  color: #222836;
}


.offcan-side-nav ul>li{
  position: relative;
  list-style-type: none;
  width: 90%;
  padding: 7px 0px;
  cursor: pointer;
}

.offcan-side-nav ul>li>a{
  display: block;
  text-decoration: none;
  color: black;
}

.offcan-side-nav ul>li>.dropdown{
  display: none;
  position: absolute;
  top: 10px;
  width: 220px;
  background-color: white;
  box-shadow: -5px 0 0px rgba(240, 240, 240, 0.9);
  left: 90%;
}

.offcan-side-nav ul>li:hover> ul.dropdown{
  display: block;
}

  
@media only screen and (max-width: 768px) {

    .responsive-menu{
      display: block;
      margin: 0px 10px 0px 0px;
    }

  
  }
  
  