
#homeproducts{
    background-color: #FFFFFF;
    padding: 20px 5px 20px 5px;
    width: 94%;
    margin : 80px 50px; 
    border-radius: 8px;
  
}

.products{
    display: grid;
    grid-template-columns: repeat(6,1fr);

}

.product{
    margin: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(36, 20, 20, 0.1);
    border-radius: 8px;
}

.product a{
    text-decoration: none;
}



.product-img{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
  
}

.home-pro-img{
    text-align: center;
    width: 100%;
    height: auto;
    border-top-right-radius:8px;
    border-top-left-radius: 8px;
}


.pro-content {
    box-sizing: border-box;
    padding: 12px 7px 8px 7px;
  }
.pro-content .desc{
    color: black;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1px 0px;
    line-height: 2.5ch;
  }

  .pro-content .desc:hover{
    text-decoration: underline;
  }
  
  .pro-content .price-addcart{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 8px;
  }

  .pro-content .price-addcart .price{
    margin: 0px;
    padding: 0px;
    line-height: 3ch;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    opacity: 0.7;
  }

.pro-content .price-addcart>a>.add-to-cart{
    background-color:black;
    border: none;
    opacity: 0.8;
    font-size: 16px;
    color: #FFFFFF;
    padding: 4px 8px;
    border-radius: 5px;
}

.pro-content .price-addcart>a>.add-to-cart:hover{
    opacity: 1;
}

.pro-content .star{
    font-size: 12px;
    color:black;
}
.pro-content .star span{
    color: black;
}

@media(max-width:968px) {
    #homeproducts{
        width: 95%;
        margin: 40px auto;
    }
.products{
    grid-template-columns: repeat(4,1fr);
}
}


@media(max-width:768px) {

    .products{
        grid-template-columns: repeat(3,1fr);
    }
    }

    
@media(max-width:568px) {


    .products{
        grid-template-columns: repeat(2,1fr);
    }
    .product{
        margin: 3px;
        background-color: #FFFFFF; 
        text-align: center; 
    }

    .home-pro-img{
        width: 100px;
        height: 100px;
    }

    .pro-content .desc{
        font-size: 11px;
    }

    .pro-content .price-addcart .price{
     font-size: 1rem;
    }
    .pro-content .price-addcart>a>.add-to-cart{
      font-size: 12px;
      padding: 2px 4px;
    }
    }

