
.side_filters{
    display: flex;
    flex-direction: column;
    margin: 8px 35px 0px 0px;
  @media(max-width:840px){
    display: none;
  }
  }

.brand input{
    width: 15px;
}
.brand label{
    margin-left: 6px;
}
.brand{
    display: block;
}

/**brand filter component css*/
.filter_by_brands{
    width: 250px;
    height: 50px;
    overflow: hidden;
    background-color:#fff;
    margin: 0px 0px 10px 0px ;
    padding:8px 10px;
    box-sizing: border-box;
    transition: 0.2s;
    cursor: pointer;              
}
.brands_collapse{
    height: 140px;
    transition: 0.2s;   
}


.toggle_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}

/*rating filter component*/
.filter_by_rating{
    background-color: #fff;
    width: 250px;
    height: 50px;
    margin: 0px 0px 10px 0px;
    padding:8px 10px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.2s;  
}